.response-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.toggle_bar button {
    padding: 5px 15px;
    border-radius: 50%;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #e74c3c;
    text-decoration: underline;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-name:hover {
    background-color: #585858;
    padding: 10px;
    border-radius: 10%;
    color: white;
}

.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .greet {
    margin: 10px 0px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
    text-align: center;
}

.main .greet h1 {
    font-size: 1550px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 100px;
    padding: 50px 20px;
    margin: 10px;
}

.main .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    cursor: pointer;

}

.card_image {
    width: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;
    align-self: flex-end;
}

.main .card p {
    font-size: 17px;
    color: #585858;
    margin-bottom: 10px;
}

.main .card:hover {
    background-color: #dfe4ea;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 40px;
    margin: 10px 300px;
    margin-bottom: 60px;
    border: 2px solid gray;
}

.input-bar {
    flex-grow: 0 0 70%;
    margin-right: 10px;
}

.dialog-box {
    margin: 0px 300px;
    height: 70vh;
    overflow: scroll;
    padding: 10px;


}



.dialog-box::-webkit-scrollbar {
    display: none;
}

.dialog-box div div {
    padding: 30px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bar {
    width: 20px;
    height: 50px;
    background-color: #3498db;
    animation: slide 1.5s infinite ease-in-out;
    border-radius: 5px;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.3s;
}

.bar:nth-child(3) {
    animation-delay: 0.6s;
}

.bar:nth-child(4) {
    animation-delay: 0.9s;
}

/* Slide animation */
@keyframes slide {

    0%,
    100% {
        transform: scaleY(0.5);
        opacity: 0.5;
    }

    50% {
        transform: scaleY(1);
        opacity: 1;
    }
}


.input-bar input {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 20px;
    margin: 0px 50px;
}

.additonal-icons {
    display: flex;
    gap: 15px;
    padding: 5px;
}

.additonal-icons div {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 480px) {

    .header {
        margin: 10px;
    }

    .nav .nav-name {
        display: none;
    }

    .main {
        margin: 300px 130px;
    }

    .main .greet {
        font-size: 50px;
        padding: 15px;
    }

    .main .cards {

        display: none;
    }


    .main .card p {
        font-size: 18px;
    }

    .footer {
        margin: 0px 55px;
        margin-bottom: 40px;
    }

    .footer .input-bar input {
        padding: 8px;
        font-size: 19px;
        margin: 0px 30px;
    }

    .additonal-icons {
        padding: 0px;
        gap: 10px;
    }

    .additonal-icons div .gallery-icon {
        display: none;
    }

    .card_image {
        width: 30px;
    }

    .dialog-box {
        margin: 0px;
        padding: 0px;
        margin-bottom: 40px;
    }

    .dialog-box div {
        max-height: 80vh;
        margin-bottom: 20px;
        overflow: auto;
    }

    .dialog-box div div {
        padding: 0px;
    }

    .dialog-box div div div {
        padding: 0px;
    }
}




@media (max-width: 768px) {
    .main .cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 15px;
    }

    .main .greet {
        font-size: 60px;
        padding: 15px;
    }

    .main {
        margin: 180px 0px;
    }


    .cards .card:nth-child(n+3) {
        display: none;
    }

    .cards {
        justify-content: space-evenly;
    }

    .main .card {
        height: 150px;
        margin: 0px 12px;
        gap: 10px;
    }

    .main .card p {
        font-size: 20px;
    }

    .dialog-box {
        margin: 0px 50px;
    }

    .footer {
        margin: 0 20px;
        margin-bottom: 40px;
    }

    .footer .input-bar input {
        padding: 0px;
        width: 80%;
    }

    .additonal-icons {
        gap: 12px;
    }

    .card_image {
        width: 32px;
    }
}